#app {
  display: flex;
  flex-flow: column;
}

h1 {
  margin: 0 auto;
}

#menu {
  display: flex;
  flex-flow: column;
  width: 250px;
  height: 200px;
  margin: 20% auto;
  background-color: transparent;
  border: 2px black solid;
  border-radius: 5px;
  box-shadow: whitesmoke;
}

#menu span {
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 25px auto;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  background-color: yellow;
  border-radius: 2px;
  border: 1px black solid;
}

#duck {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: absolute;
  height: 80px;
  width: 100px;
  top: 20%;
  left: 50%;
  margin-left: -50px;
  background: url(小黄鸭.png) center no-repeat;
  background-size: 75%;
  transition: 0.5s ease;
}

@media screen and (max-width: 500px) {
  #duck {
    top: 10%;
  }
}

#text {
  width: 200%;
  height: 20px;
  text-align: center;
  color: brown;
  border-radius: 5px;
}