[v-cloak] {
  display: none;
}

#app {
  width: 700px;
  height: 450px;
  margin: 100px auto;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2);
}

#player {
  height: 340px;
  display: flex;
}

video {
  width: 700px;
  height: 340px;
}

#nav {
  height: 50px;
  line-height: 40px;
  color: white;
  background-color: rgb(195, 35, 35);
  position: relative;
}

#nav span {
  height: 30px;
  font-size: 10px;
  color: whitesmoke;
  position: absolute;
  left: 0;
  bottom: 0;
}

#bar {
  height: 60px;
}

#bar audio {
  width: 700px;
}

#searchBar {
  height: 30px;
  margin-left: 370px;
  color: white;
  background-color: rgb(195, 35, 35);
  border: 1px solid white;
  border-radius: 8px;
}

input::placeholder {
  color: whitesmoke;
}

#sButton {
  height: 30px;
  color: white;
  background-color: rgb(195, 35, 35);
  border: white 1px solid;
  border-radius: 15px;
}

#Mlist {
  width: 180px;
}

#Mpic {
  width: 320px;
  border-right: solid 1px rgb(195, 35, 35);
  border-left: solid 1px rgb(195, 35, 35);
}

#Mpic img {
  width: 200px;
  height: 200px;
  margin-top: 55px;
  margin-left: 60px;
}

#Mpic div button {
  height: 18px;
  width: 20px;
  margin-left: 150px;
  border: none;
  background: url(images/image2.PNG) no-repeat center;
}

#Mpic div button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  height: 340px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

ul li {
  display: flex;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid rgb(195, 35, 35);
}

#Mlist ul li:hover {
  background-color: rgb(255, 223, 223);
}

li>a:nth-child(1) {
  width: 15px;
  background: url(images/image1.PNG) no-repeat center;
}

#Mlist ul li {
  font-size: 15px;
}

#Mlist ul li span {
  overflow: hidden;
}

#Mcomment {
  margin-inline-start: 0px;
  width: 200px;
}

#Mcomment ul li {
  display: inline;
  border: none;
  width: max-content;
}

#Mcomment .name {
  font-size: 15px;
}

#Mcomment .detail {
  font-size: 12px;
  color: rgb(155, 155, 155);
}

#artistName {
  width: 36px;
  font-size: 12px;
  color: rgb(155, 155, 155);
  margin-left: 10px;
}

.Mname {
  white-space: nowrap;
}

#video_con {
  position: relative;
}

#video_con span {
  position: absolute;
  right: 50px;
  color: white;
  z-index: 10;
}

#video_con span:hover {
  cursor: pointer;
}

.scroll {
  animation: 3s wordsLoop linear infinite;
}

@keyframes wordsLoop {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(calc(-100% + 2.35rem));
  }
  100% {
    transform: translateX(calc(-100% + 2.35rem));
  }
}